<div class="p-10 bg-purple-100 w-full">
	<div class="flex justify-evenly">
		<div class="flex items-center justify-center">
			<div class="w-full">
				<h2 class="text-xl font-bold">Ingrese Producto</h2>
				<div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 my-6">
					<div class=" mb-4">
						<label class="block text-gray-700 text-sm font-bold mb-2" for="title">
						Titulo
						</label>
						<input type="text" name="title" id="title" class="shadow appearance-none border rounded w-full py-2 px-3 my-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"  placeholder="Titulo"/>
						<label class="block text-gray-700 text-sm font-bold mb-2" for="price">
						Precio
						</label>
						<input type="text" name="price" id="price" class="shadow appearance-none border rounded w-full py-2 px-3 my-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"  placeholder="Precio"/>
						<label class="block text-gray-700 text-sm font-bold mb-2" for="thumbnail">
						Foto URL
						</label>
						<input type="text" name="thumbnail" id="thumbnail" class="shadow appearance-none border rounded w-full py-2 px-3 my-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"  placeholder="Foto URL"/>
						<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 my-2  rounded focus:outline-none focus:shadow-outline" onclick="sendProduct()">
						Crear
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="bg-white rounded-lg shadow-lg">
			<div class="p-6">
				<h2 class="text-xl font-bold">Centro de mensajes</h2>
				<div class="pb-8 mb-2 my-4 ">
					<input type="text" name="id" id="id" class="shadow appearance-none border rounded w-full py-2 px-3 my-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"  placeholder="Correo"/>
					<input type="text" name="nombre" id="nombre" class="shadow appearance-none border rounded w-full py-2 px-3 my-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"  placeholder="Nombre"/>
					<input type="text" name="apellido" id="apellido" class="shadow appearance-none border rounded w-full py-2 px-3 my-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"  placeholder="Apellido"/>
					<input type="text" name="edad" id="edad" class="shadow appearance-none border rounded w-full py-2 px-3 my-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"  placeholder="edad"/>
					<input type="text" name="alias" id="alias" class="shadow appearance-none border rounded w-full py-2 px-3 my-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"  placeholder="Alias"/>
					<input type="text" name="avatar" id="avatar" class="shadow appearance-none border rounded w-full py-2 px-3 my-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"  placeholder="Avatar"/>
					<input type="text" name="text" id="text" class="shadow appearance-none border rounded w-full py-2 px-3 my-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"  placeholder="Mensaje"/>
					<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 my-2  rounded focus:outline-none focus:shadow-outline" onclick="enviarMensaje()">
						Enviar
					</button>
				</div>
				<div id="posts" class="overflow-y-auto h-32">
					{{#each messageList}}
						<p>
							<span class="text-blue-600 font-bols">{{this.email}}</span>
							<span class="text-amber-900">[07/08/2022]: </span>
							<span class="italic text-green-600">{{this.message}}</span>
						</p>
           			{{/each}}
				</div>
				

			</div>
		</div>
	
	</div>
</div>
<div class="p-20 bg-blue-100">
  <div class="bg-white p-6 rounded-lg shadow-lg">
	<div class="flex flex-col">
		<div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
			<div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
				<div id="products" class="overflow-hidden">
					
				</div>
			</div>
		</div>
    </div>
</div>

