<table id="table" class="min-w-full"> 
    <thead class="border-b">
        <tr>
            <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left"> Nombre</th>
            <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Precio</th>
            <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Foto</th>
        </tr>
    </thead>
    <tbody id="products">
        {{#each productsList}}
            <tr class="border-b">
                <td text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap>{{ title}}</td>
                <td text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap>{{ price}}</td>
                <td text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap ><img class="py-1.5 object-contain h-20 w-40 ..." src="{{thumbnail}}" alt=""></td>
            </tr>
        {{/each}}
    </tbody>
</table>