<div class="w-full">
    <div class="bg-white mt-4 flex justify-center">
        <div class="p-4 mb-4 text-sm text-blue-700 bg-blue-100 rounded-lg dark:bg-blue-200 dark:text-blue-800" role="alert">
            <span class="font-medium px-3 ">Hasta luego</span>
        </div>
    </div>
</div>
<script>
    setTimeout(() => {
        location.assign('/login');
    }, 2000);
</script>