    
    <div><a href="{{allProductLink}}">Productos</a></div>
    <h2>Ingrese Producto</h2>
    <form action="/productos/" method="POST">
        Titulo: <input type="text" name="title" />
        Precio:  <input type="text" name="price" />
        Url Imagen: <input type="text" name="thumbnail" />
      <button>Enviar</button>
    </form>
